Repository waffensultan/hotlines-bettergov: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update .gitignore to ignore TODOS.md
  .gitignore
Due: none

chore: update printWidth
  .prettierrc
Due: none

feat: add initial hotlines data
  src/data/hotlines.json
  src/data/metadata.json
Due: prettier --write

chore: delete initial public files
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

chore: setup things
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add interfaces for hotlines.json and metadata.json
  src/interfaces/IHotlines.ts
  src/interfaces/IMetadata.ts
Due: eslint --fix, prettier --write

chore: update/rename fields
  src/data/hotlines.json
Due: prettier --write

feat: a lot of changes
  components.json
  package.json
  pnpm-lock.yaml
  src/app/api/hotlines/route.ts
  src/app/api/metadata/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/nav.tsx
  src/components/ui/select.tsx
  src/data/hotlines.json
  src/interfaces/IHotlines.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: center filters
  src/app/page.tsx
  src/components/nav.tsx
Due: eslint --fix, prettier --write

feat: add return type
  src/app/api/hotlines/route.ts
Due: eslint --fix, prettier --write

feat: update colors and spacing
  src/components/nav.tsx
Due: eslint --fix, prettier --write

feat: update UI
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add initial README.md
  README.md
Due: prettier --write

feat: ui updates
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: update metadata for seo optimization
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: major updates
  eslint.config.mts
  src/app/about/page.tsx
  src/app/api/hotlines/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/footer.tsx
  src/components/hotlines-display.tsx
  src/components/nav.tsx
  src/data/hotlines.json
  src/data/metadata.json
  src/interfaces/IHotlines.ts
  src/interfaces/IMetadata.ts
Due: eslint --fix, prettier --write

chore: disable rule
  eslint.config.mts
Due: none

feat: add posthog for analytics
  instrumentation-client.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: move metadata.json and hotlines.json to public folder
  public/hotlines.json
  public/metadata.json
  src/app/api/hotlines/route.ts
  src/app/api/metadata/route.ts
Due: eslint --fix, prettier --write

chore: move instrumentation-client.ts to src/
  src/instrumentation-client.ts
Due: eslint --fix, prettier --write

chore: add separation between return statements
  src/app/api/metadata/route.ts
Due: eslint --fix, prettier --write

chore: add comments
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add exception handling for posthog analytics
  src/instrumentation-client.ts
Due: eslint --fix, prettier --write

feat: update with new data
  public/hotlines.json
  public/metadata.json
Due: prettier --write

feat(server): enable SWR in the project
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/sw.js
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/manifest.ts
Due: eslint --fix, prettier --write

chore: upgrade minor version of next
  package-lock.json
  package.json
Due: prettier --write

chore: remove extra lines
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: implement security for pwa
  next.config.ts
Due: eslint --fix, prettier --write

chore: add future files to be used for installation notification
  src/app/PushNotificationManager.tsx
  src/app/lib/urlBase64ToUint8Array.ts
Due: eslint --fix, prettier --write

chore: remove excess lines
  src/components/hotlines-display.tsx
Due: eslint --fix, prettier --write

chore: temporarily delete unused file
  src/app/PushNotificationManager.tsx
Due: eslint --fix, prettier --write

chore(ci): add GitHub workflows for linting, formatting, and checks
  .github/actionlint-matcher.json
  .github/workflows/ci-pipeline.yml
  .github/workflows/github-action-linter.yml
  .github/workflows/stale.yml
  postcss.config.mjs
  public/site.webmanifest
Due: eslint --fix, prettier --write

style(ui): improve mobile responsiveness
  src/app/page.tsx
  src/components/footer.tsx
  src/components/hotlines-display.tsx
  src/components/nav.tsx
Due: eslint --fix, prettier --write

chore: fix deployment issues
  pnpm-lock.yaml
Due: prettier --write

chore: add .env.example and move website url to env
  .env.example
  .gitignore
  public/sw.js
Due: eslint --fix, prettier --write

chore: disable eslint rule
  eslint.config.mts
Due: none

feat: add install project
  src/app/layout.tsx
  src/components/install-prompt.tsx
Due: eslint --fix, prettier --write

chore: update install prompt component
  src/components/install-prompt.tsx
Due: eslint --fix, prettier --write

chore: add service worker to gitignore
  .gitignore
Due: none

chore: add new shadcn components
  package-lock.json
  package.json
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/item.tsx
  src/components/ui/popover.tsx
  src/components/ui/separator.tsx
  src/components/ui/sonner.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,md,yml,yaml,css,scss,html})
