Repository waffensultan/hotlines-bettergov: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

chore: update README.md
  .all-contributorsrc
  README.md
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: remove unused files
  src/app/lib/urlBase64ToUint8Array.ts
  src/lib/data.ts
Due: eslint --fix, prettier --write

feat: improve SEO and add initial sitemap
  src/app/layout.tsx
  src/app/sitemap.ts
Due: eslint --fix, prettier --write

feat: add icons field
  src/app/layout.tsx
Due: eslint --fix, prettier --write

chore: update .gitignore
  .gitignore
Due: none

feat: standardize hotlines and make them actually callable
  public/data/hotlines.json
  src/app/page.tsx
  src/components/hotline-card.tsx
  src/interfaces/IHotlines.ts
Due: eslint --fix, prettier --write

chore: delete hotlines-display as it is unused
  src/components/hotlines-display.tsx
Due: eslint --fix, prettier --write

feat: sort the display of hotline cards and fix hotline inconsistencies
  public/data/hotlines.json
  src/app/page.tsx
Due: eslint --fix, prettier --write

refactor: major work in simplifying data structure
  public/data/hotlines.json
  public/data/metadata.json
  src/app/page.tsx
  src/components/hotline-card.tsx
  src/interfaces/IHotlines.ts
  src/interfaces/IMetadata.ts
Due: eslint --fix, prettier --write

feat: add hotlines for quezon city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for makati city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for taguig city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for valenzuela city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for olongapo city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for batangas city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: sorting by category -> name; adding Iligan City (#1)
  package-lock.json
  public/data/hotlines.json
  public/data/metadata.json
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add QC Helpline 122 for Quezon City
  public/data/hotlines.json
Due: prettier --write

feat: add hotlines for San Pablo City and Lucena City
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

chore: remove +63
  public/data/hotlines.json
Due: prettier --write

fix: remove 'City' from city names
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

temp save
  package.json
  pnpm-lock.yaml
  public/sw.js
  src/app/sw.ts
  src/revisions.json
  src/scripts/generate-revision.ts
Due: eslint --fix, prettier --write

feat: add Pasig to "Search cities..." selection
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

chore: simplify husky hooks installation step
  package.json
Due: prettier --write

feat: add hotlines for Roxas City
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add case-insensitive duplicate city name handling (#9)
  src/app/page.tsx
  src/components/hotline-card.tsx
  src/mocks/README.md
  src/mocks/hotlines.json
  src/mocks/metadata.json
Due: eslint --fix, prettier --write

feat: include alternate numbers in hotline card (#7)
  src/app/page.tsx
  src/components/hotline-card.tsx
Due: eslint --fix, prettier --write

feat: add hotlines for cebu city
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write

feat: add hotlines for municipality of maayon (#12)
  public/data/hotlines.json
  public/data/metadata.json
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: configure json schema for datasets (#13)
  .github/workflows/validate_schemas.yml
  .gitignore
  README.md
  public/data/hotlines.json
  schemas/hotlines.schema.json
  schemas/metadata.schema.json
  scripts/validate_schemas.py
Due: prettier --write

feat: add devcontainer configuration (#10)
  .devcontainer/devcontainer.json
  .nvmrc
  README.md
Due: prettier --write

feat: add paranaque city hotlines
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write
